<header>
    <div class="container-fluid">
    <div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Shopping Cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cart">Cart</a>
                    </li>
                    
                    <li class="nav-item">
                        {{#if user}}
                        <a class="nav-link active" aria-current="page" href="#">Orders</a>
                        {{/if}}
                    </li>
                </ul>
                
                <form class="d-flex me-5" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
                <div class="dropdown  me-5">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user}}
                        {{user.fname}}
                        {{else}}
                        Account
                        {{/if}}
                    </button>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                        {{#if user}}
                        <li><a class="dropdown-item" href="/logout">logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/login">login</a></li>
                        {{/if}}
                        <li><a class="dropdown-item" href="#">About Us</a></li>
                        <li><a class="dropdown-item" href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    </div>
    </div>
</header>